/*	GLOBAl
*/
h1 {
	margin-bottom: 10px;
}


/*	SIDEBAR
*/
#sidebar {
	background: rgb(200,200,200);
	padding: 20px;
	width: 200px;
	height: 100%;
	position: fixed;
}

/*	MAINCONTENT
*/

.main-content {
	margin-left: 200px;
	padding: 20px;
	max-width: 1000px;
}