.contact:after {
	clear: both;
	display: block;
	content: "";
}

.contact li {
	display: inline-block;
	float: left;
	width: 25%;
	text-align: center;
}

.contact li img {
	margin-bottom: 5px;
	width: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.contact li:hover img {
	animation: rotate 0.6s linear;
	-webkit-animation: rotate 0.6s linear;
	-moz-animation: rotate 0.6s linear;
	-o-animation: rotate 0.6s linear;
}

.meta {
	margin-top: 15px;
	font-size: 0.75em;
	text-transform: capitalize;
	color: rgb(175,175,175);
}