/*********************	HEADER
*
*
***************************************************/

@keyframes rotate {
	from {
	    -ms-transform: rotate(0deg); /* IE 9 */
	    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	    transform: rotate(0deg);
	}

	to {
	    -ms-transform: rotate(360deg); /* IE 9 */
	    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
	    transform: rotate(360deg);
	}
}

header {
	height: auto;
	padding: 18px;
	font-family: 'DIN-Regular', Helvetica, Arial, sans-serif, 'SimHei', 'STHeiti';
	z-index: 9;
	position: relative;
	overflow: hidden;
	-webkit-transition: height 0.4s ease-out;
	-moz-transition: height 0.4s ease-out;
	-o-transition: height 0.4s ease-out;
	transition: height 0.4s ease-out;
	background-color: $color-darkgray;
	color: $color-theme;

	.wrapper {
		position: relative;

		.title {
			.img-wrapper {
				width: 2.5em;
				margin-right: 10px;
				display: inline-block;
				vertical-align: middle;

				img {
					animation: rotate 30s linear 2s infinite;
					-webkit-animation: rotate 30s linear 2s infinite;
					-moz-animation: rotate 30s linear 2s infinite;
					-o-animation: rotate 30s linear 2s infinite;
				}
			}

			h2 {
				margin: 0;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.title:hover ~ .about {
			height: 80px;
			padding: 20px 0;
		}

		> ul {
			text-align: right;

			li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px;
			}

			li:hover {
				a {
					color: #fff;
				}
			}
		}

		.about {
			-webkit-transition: height 0.4s ease-out, padding 0.4s ease-out;
			-moz-transition: height 0.4s ease-out, padding 0.4s ease-out;
			-o-transition: height 0.4s ease-out, padding 0.4s ease-out;
			transition: height 0.4s ease-out, padding 0.4s ease-out;
			height: 0px;
			overflow: hidden;
			position: relative;

			.intro {
				font-size: 1.5em;
				margin-top: 15px;
				margin-bottom: 30px;
			}
		}
	}
}