// Colors
$color-theme: #726A95; 
$color-darkgray: rgb(60,60,60); 
$color-gray: rgb(150,150,150); 
$color-lightgray: rgb(245,245,245); 

// Dimenstion
$max-content-width: 800px;
$bp-laptop: 770px;
$bp-mobile: 480px;

// Mixin 
@mixin wrapper {
    max-width: $max-content-width; 
    margin: 0 auto;

    @media (max-width: $max-content-width) {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@mixin transition($property: all, $duration: 0.5s, $timing: ease, $delay: 0s) {
    -webkit-transition: $property $duration $timing $delay;
    -moz-transition: $property $duration $timing $delay;
    -o-transition: $property $duration $timing $delay;
    transition: $property $duration $timing $delay;
}

@mixin transform-rotate($deg) {
   -webkit-transform: rotate($deg);
   -moz-transform: rotate($deg);
   -ms-transform: rotate($deg);
   -o-transform: rotate($deg);
   transform: rotate($deg);
}

@-webkit-keyframes spin {
    0% { 
        letter-spacing: 0.5em;
    }   
    10% {
        letter-spacing: 1em;
    }
    20% {
        letter-spacing: 1em;
    }
    30% {
        letter-spacing: 0.5em;
    }
    100% {
        letter-spacing: 0.5em;
    }
}
@-moz-keyframes spin {
    0% { 
        letter-spacing: 0.5em;
    }   
    10% {
        letter-spacing: 1em;
    }
    20% {
        letter-spacing: 1em;
    }
    30% {
        letter-spacing: 0.5em;
    }
    100% {
        letter-spacing: 0.5em;
    }
}
@-o-keyframes spin {
    0% { 
        letter-spacing: 0.5em;
    }   
    10% {
        letter-spacing: 1em;
    }
    20% {
        letter-spacing: 1em;
    }
    30% {
        letter-spacing: 0.5em;
    }
    100% {
        letter-spacing: 0.5em;
    }
}
@keyframes spin {
    0% { 
        letter-spacing: 0.5em;
    }   
    10% {
        letter-spacing: 1em;
    }
    20% {
        letter-spacing: 1em;
    }
    30% {
        letter-spacing: 0.5em;
    }
    100% {
        letter-spacing: 0.5em;
    }
}
