/*********************	HEADER
*
*
***************************************************/

@keyframes rotate {
	from {
	    -ms-transform: rotate(0deg); /* IE 9 */
	    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	    transform: rotate(0deg);
	}

	to {
	    -ms-transform: rotate(360deg); /* IE 9 */
	    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
	    transform: rotate(360deg);
	}
}

header {
	text-align: center;
	height: auto;
	padding: 18px;
	font-family: 'DIN-Regular', Helvetica, Arial, sans-serif, 'SimHei', 'STHeiti';
	background-color: #fff;
	z-index: 9;
	position: relative;
	overflow: hidden;
	-webkit-transition: height 0.4s ease-out;
	-moz-transition: height 0.4s ease-out;
	-o-transition: height 0.4s ease-out;
	transition: height 0.4s ease-out;
	border-bottom: 1px solid gray;
}

header:after {
	display: block;
	content: "";
	clear: both;
}

header > ul {
	display: table;
	position: absolute;
	right: 30px;
	top: 40px;
}

header > ul li {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}

header > ul li a {
	padding: 8px 10px;
	vertical-align: middle;
}

header .title {
	display: inline-block;
	text-align: center;
}

header .title .img-wrapper {
	width: 3em;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

header .title img {
	animation: rotate 30s linear 2s infinite;
	-webkit-animation: rotate 30s linear 2s infinite;
	-moz-animation: rotate 30s linear 2s infinite;
	-o-animation: rotate 30s linear 2s infinite;
}

header .title h1 {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

header:hover {
	box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.3);
}

header .title:hover ~ .about {
	height: 80px;
	padding: 20px 0;
}

.about {
	-webkit-transition: height 0.4s ease-out, padding 0.4s ease-out;
	-moz-transition: height 0.4s ease-out, padding 0.4s ease-out;
	-o-transition: height 0.4s ease-out, padding 0.4s ease-out;
	transition: height 0.4s ease-out, padding 0.4s ease-out;
	height: 0px;
	overflow: hidden;
	position: relative;
}

.about .intro{
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 30px;
}