@media only screen and (max-width: 1400px) {
	.master {
		padding: 2em;
	}
}

@media only screen and (max-width: 1100px) {
	html {
		font-size: 0.95em;
	}

	.master {
		padding: 1.5em;
	}

	.categories li {
		margin: 0 10px;
		font-size: 0.8em;
	}

	.unit {
		margin-bottom: 1.5em;
	}
}

@media only screen and (max-width: 960px) {
	#page-post .content {
		width: 78%;
	}
	#page-post .unit .bg-nav {
		width: 22%;
	}
}

@media only screen and (max-width: 770px) {
	html {
		font-size: 0.9em;
	}

	.master {
		padding: 1em;
	}

	.unit {
		margin-bottom: 1em;
	}

	#page-post .demo {
		margin-bottom: 2em;
		padding-bottom: 2em;
	}

	#page-post .content {
		width: 100%;
	}
	#page-post .unit .bg-nav {
		display: none;
	}

	.categories li {
		margin: 0 20px;
		font-size: 0.9em;
	}

	section.toggle {
		display: none;
	}

	section {
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}

	section:last-child {
		margin-left: 0;
	}
}

@media only screen and (max-width: 480px) {
	.master {
		padding: 0.75em;
	}

	.categories li {
		margin: 0 5px;
		font-size: 0.7em;
	}
}