@font-face {
	font-family: 'DIN-Regular';
	src: url('font/DIN-Regular.eot') format('embedded-opentype'),
		 url('font/DIN-Regular.woff') format('woff'),
		 url('font/DIN-Regular.otf') format('opentype'),
		 url('font/DIN-Regular.svg') format('svg'),
		 url('font/DIN-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*********************	GLOBAl
*
*
***************************************************/

html {

}

body {
	margin: 0 auto;
	position: relative;
}

body:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
}

p {
	line-height: 1.35;	
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.75em 0;
	text-transform: capitalize;
	font-family: 'DIN-Regular', Helvetica, Arial, sans-serif, 'SimHei', 'STHeiti';
}

h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
	margin-top: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

ul li {
	padding: 5px 0;
}

li a {
	display: block;
}

li a:hover {
	text-decoration: underline;
	cursor: pointer;
}

img {
	width: 100%;
	max-width: 100%;
}

section {
	position: relative;
	width: 48%;
	margin-right: 2%;
	float: left;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

section:last-child {
	margin-left: 2%;
	margin-right: 0;
}

section.toggle,
section.toggle {
	opacity: 0.1;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

section.toggle:after,
section.toggle:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 0;
	width: 100%;
	height: 100%;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

footer p {
	margin-top: 4px;
}

article a {
	font-style: italic;
}

article p {
	margin-bottom: 2em;
}

article h2 {
	text-align: center;
}

/*********************	HEADER
*
*
***************************************************/

@keyframes rotate {
	from {
	    -ms-transform: rotate(0deg); /* IE 9 */
	    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	    transform: rotate(0deg);
	}

	to {
	    -ms-transform: rotate(360deg); /* IE 9 */
	    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
	    transform: rotate(360deg);
	}
}

header {
	text-align: center;
	height: auto;
	padding: 12px;
	font-family: 'DIN-Regular', Helvetica, Arial, sans-serif, 'SimHei', 'STHeiti';
	z-index: 9;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

header:after {
	display: block;
	content: "";
	clear: both;
}

header > ul {
	display: table;
	position: absolute;
	right: 30px;
	top: 32px;
}

header > ul li {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}

header > ul li a {
	padding: 8px 10px;
	vertical-align: middle;
}

header .title {
	display: inline-block;
	text-align: center;
}

header .title .img-wrapper {
	width: 40px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

header .title img {
	animation: rotate 30s linear 2s infinite;
	-webkit-animation: rotate 30s linear 2s infinite;
	-moz-animation: rotate 30s linear 2s infinite;
	-o-animation: rotate 30s linear 2s infinite;
}

header .title h1 {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: -2px;
	word-spacing: 5px;
}

header.toggle {
	box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.3);
}

header.toggle .about {
	height: 180px;
	padding: 20px 0;
}

.about {
	-webkit-transition: height 0.4s ease-out, padding 0.4s ease-out;
	-moz-transition: height 0.4s ease-out, padding 0.4s ease-out;
	-o-transition: height 0.4s ease-out, padding 0.4s ease-out;
	transition: height 0.4s ease-out, padding 0.4s ease-out;
	height: 0px;
	overflow: hidden;
	position: relative;
}

.about .intro{
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 30px;
}

.about .contact:after {
	clear: both;
	display: block;
	content: "";
}

.about .contact li {
	display: inline-block;
	float: left;
	width: 25%;
	text-align: center;
}

.about .contact li img {
	margin-bottom: 5px;
	width: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.about .contact li:hover img {
	animation: rotate 0.6s linear;
	-webkit-animation: rotate 0.6s linear;
	-moz-animation: rotate 0.6s linear;
	-o-animation: rotate 0.6s linear;
}

/********************	MAINCONTENT
*
*
***************************************************/

.master {
	padding: 60px 40px;
	margin: 0 auto;
	background-color: rgb(150,150,150);
	background-size: cover;
	background-position: center;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.wrapper:after {
	display: block;
	content: "";
	clear: both;
}

@keyframes dropdown {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.9;
	}
}

.unit {
	opacity: 0.9;
	margin-bottom: 2em;
	display: block;
	border-radius: 7px;
	padding: 20px 30px;
	-webkit-transition: box-shadow 0.2s ease-out, opacity 0.2s ease-out;
	-moz-transition: box-shadow 0.2s ease-out, opacity 0.2s ease-out;
	-o-transition: box-shadow 0.2s ease-out, opacity 0.2s ease-out;
	transition: box-shadow 0.2s ease-out, opacity 0.2s ease-out;
	background-color: #fff;
	overflow: hidden;
	position: relative;
/*	animation: dropdown 0.4s ease-out;
	-webkit-animation: dropdown 0.4s ease-out;
	-moz-animation: dropdown 0.4s ease-out;
	-o-animation: dropdown 0.4s ease-out;*/
}

/*.unit:nth-child(1) {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
}

.unit:nth-child(2n) {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
}

.unit:nth-child(3n) {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
}

.unit:nth-child(4n) {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
}

.unit:nth-child(5n) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
}

.unit:nth-child(6n) {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
}*/

.unit:hover {
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	opacity: 1;
}

/*********************	PROFILE
*
*
***************************************************/

.profile {
	width: 125px;
	background-size: cover;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.25);
	margin: 0 auto;
	margin-bottom: 1.5em;
}

.profile:after {
	display: block;
	content: "";
	padding: 50%;
}

.profile-author {
	background-image: url(../image/profile.jpg);
}

.profile-site {
	background-image: url(../image/77-logo.svg);
}

/*********************	CATEGORIES
*
*
***************************************************/

.categories {
	text-align: center;
	margin-bottom: 30px;
}

.categories li {
	color: #000;
	display: inline-block;
	text-align: center;
	margin: 0 20px;
	text-transform: uppercase;
	font-size: 0.9em;
}

.categories li a:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-bottom: 12px;
	margin-right: auto;
	margin-left: auto;
}

.categories li.all a:before {
	background-color: rgb(100,100,100);
}

.categories li.utility a:before {
	background-color: #c7e9e7;
}

.categories li.infrastructure a:before {
	background-color: rgb(200,200,200);
}

.categories li.fun a:before {
	background-color: #d8aeae;
}

.categories li.javascript a:before {
	background-color: #f3e585;
}

.categories li.css a:before {
	background-color: #92cd95;
}

.categories li.html a:before {
	background-color: #b3b1e7;
}

.categories li.overall a:before {
	background-color: #eed3a8;
}

.preview.utility aside {
	background-color: #c7e9e7;
}

.preview.fun aside {
	background-color: #d8aeae;
}

.preview.infrastructure aside {
	background-color: rgb(200,200,200);
}

.preview.javascript aside {
	background-color: #f3e585;
}

.preview.css aside {
	background-color: #92cd95;
}

.preview.html aside {
	background-color: #b3b1e7;
}

.preview.overall aside {
	background-color: #eed3a8;
}


/*********************	PREVIEW
*
*
***************************************************/

.preview {
	padding-left: 45px;
	overflow: hidden;
	-webkit-transition: padding 0.3s ease, margin 0.3s ease;
	-moz-transition: padding 0.3s ease, margin 0.3s ease;
	-o-transition: padding 0.3s ease, margin 0.3s ease;
	transition: padding 0.3s ease, margin 0.3s ease;
}

.preview.toggle {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

.preview:last-child {
	margin-bottom: 0;
}

.preview aside {
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 100%;
	background: gray;
}

.preview article {
	text-align: left;
	cursor: pointer;
}

.preview article p {
	margin-bottom: 0;
}

.preview article .meta {
	margin-top: 15px;
	font-size: 0.8em;
	text-transform: capitalize;
	color: rgb(100,100,100);
}



