/* ==========================================================================
   Reset.css
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: Arial, Helvetica, sans-serif, 'FangSong', 'STFangsong', 'SimHei', 'STHeiti';
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0; }

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* ==========================================================================
   Remove vender default style
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
input {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  resize: vertical;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input:focus, textarea:focus {
  outline: 0; }

a:focus {
  outline: 0; }

/* ==========================================================================
   Better basic DOM elements style
   ========================================================================== */
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

body {
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: inherit;
  text-decoration: none; }

/* Placeholder */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: gray; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: gray; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: gray; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: gray; }

/* Selection */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

*::-moz-selection {
  background: #DDD;
  text-shadow: none; }

*::selection {
  background: #DDD;
  text-shadow: none; }

/* Image */
img {
  display: block;
  width: 100%; }

img::selection {
  background: transparent;
  text-shadow: none; }

/* Form */
input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: transparent; }

input[type="submit"] {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0; }

/* Enhance */
li > a {
  display: block;
  cursor: pointer; }

/* Helper */
.screen-lock {
  overflow: hidden;
  position: relative; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.text-center {
  text-align: center; }

/********************************
 * Color
 ********************************/
@font-face {
  font-family: 'DIN-Regular';
  src: url("font/DIN-Regular.eot") format("embedded-opentype"), url("font/DIN-Regular.woff") format("woff"), url("font/DIN-Regular.otf") format("opentype"), url("font/DIN-Regular.svg") format("svg"), url("font/DIN-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  font-family: 'DIN-Regular', Helvetica, Arial, sans-serif, 'SimHei', 'STHeiti'; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  text-transform: capitalize; }

h1 {
  font-size: 3.75em;
  margin: 1.25em 0;
  text-align: center;
  font-weight: bold; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em;
  opacity: 0.6;
  text-align: center; }

h6 {
  font-size: 1em; }

p {
  line-height: 1.5;
  margin: 1em 0; }

ol li,
ul li {
  padding: 5px 0;
  line-height: 1.25; }

img {
  width: 100%;
  max-width: 100%; }

pre {
  background-color: #ebebeb;
  border: 1px solid #c8c8c8;
  padding: 1.5em 2em;
  margin: 1.5em 0;
  border-radius: 7px;
  line-height: 1.5em; }

.markdown h5 {
  opacity: 0.5;
  margin-bottom: 3em; }
.markdown h2 {
  margin-top: 2em;
  padding-left: 0.5em;
  border-left: 10px solid #7fa5ec; }

body {
  margin: 0 auto;
  position: relative; }

.master {
  margin: 0 auto;
  padding: 2em 0;
  background-color: #f9f9f9; }

.wrapper {
  margin: 0 auto;
  max-width: 870px; }

.wrapper:after {
  display: block;
  content: "";
  clear: both; }

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg); } }
header {
  height: auto;
  padding: 20px;
  font-family: 'DIN-Regular', Helvetica, Arial, sans-serif, 'SimHei', 'STHeiti';
  z-index: 9;
  position: relative;
  overflow: hidden;
  -webkit-transition: height 0.4s ease-out;
  -moz-transition: height 0.4s ease-out;
  -o-transition: height 0.4s ease-out;
  transition: height 0.4s ease-out;
  border-bottom: 3px solid #000;
  color: #000; }
  header .profile {
    border-radius: 50%;
    height: 2.7em;
    width: 2.7em;
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url(../image/profile.jpg);
    background-size: cover;
    background-position: center; }
    header .profile:hover {
      opacity: 0.7;
      cursor: pointer; }
  header .wrapper {
    position: relative; }
    header .wrapper .title .img-wrapper {
      width: 2.7em;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle; }
      header .wrapper .title .img-wrapper img {
        animation: rotate 30s linear 2s infinite;
        -webkit-animation: rotate 30s linear 2s infinite;
        -moz-animation: rotate 30s linear 2s infinite;
        -o-animation: rotate 30s linear 2s infinite; }
    header .wrapper .title h2 {
      margin: 0;
      display: inline-block;
      vertical-align: middle; }
    header .wrapper .title:hover ~ .about {
      height: 80px;
      padding: 20px 0; }
    header .wrapper .about {
      -webkit-transition: height 0.4s ease-out, padding 0.4s ease-out;
      -moz-transition: height 0.4s ease-out, padding 0.4s ease-out;
      -o-transition: height 0.4s ease-out, padding 0.4s ease-out;
      transition: height 0.4s ease-out, padding 0.4s ease-out;
      height: 0px;
      overflow: hidden;
      position: relative; }
      header .wrapper .about .intro {
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 30px; }

footer {
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
  background-color: #000;
  color: #fff; }
  footer p {
    margin-top: 4px; }

.preview {
  border-left: 3px solid #969696;
  margin-bottom: 2.5em;
  padding: 0 1em;
  display: block;
  overflow: hidden;
  -webkit-transition: border, 0.3s, ease;
  -moz-transition: border, 0.3s, ease;
  -o-transition: border, 0.3s, ease;
  transition: border, 0.3s, ease; }
  .preview h3 {
    margin-top: 0; }
  .preview:hover {
    border-left: 6px solid #7fa5ec; }
  .preview:last-child {
    margin-bottom: 0; }
  .preview article {
    text-align: left;
    cursor: pointer; }
    .preview article p {
      margin: 0;
      color: #969696; }
    .preview article p:last-child {
      font-size: 0.8em;
      margin-top: 1em;
      opacity: 0.5; }

.contact:after {
  clear: both;
  display: block;
  content: ""; }

.contact li {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center; }

.contact li img {
  margin-bottom: 5px;
  width: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto; }

.contact li:hover img {
  animation: rotate 0.6s linear;
  -webkit-animation: rotate 0.6s linear;
  -moz-animation: rotate 0.6s linear;
  -o-animation: rotate 0.6s linear; }

/*# sourceMappingURL=index.css.map */
