/*	GLOBAl
*/

body {
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

ul li {
	padding: 5px 0;
}

a:hover {
	opacity: 0.5;
}

/*	GRID SYSTEM
*/

.col-1 {

}

/*	SIDEBAR
*/
#sidebar {
	background: #d4e2e5;
	padding: 20px;
	width: 200px;
	height: 100%;
	position: fixed;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	overflow-y: auto;
}

#sidebar:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

#sidebar .title {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

/*	MAINCONTENT
*/

.main-content {
	margin-left: 200px;
	padding: 20px 30px;
}

.page-title {
	border-bottom: 1px solid rgb(220,220,220);
}

.page-title h3 {
	text-transform: capitalize;
}

