		</div>
		
		<footer>
			{{#footer}}
			<span>{{content}}</span>
			<a href="{{punch-link}}">Punch</a>
			{{/footer}}
		</footer>

		{{#javascript_bundle}}/js/all.js{{/javascript_bundle}} 

	</body>

</html>
