		</div>
		
		<footer>
			<span>Created by Vincent, Built with</span>
			<a href="http://laktek.github.com/punch">Punch</a>
		</footer>

		{{#javascript_bundle}}/js/all.js{{/javascript_bundle}} 

	</body>

</html>
