<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{{{head-title}}}</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width">
			<link rel="shortcut icon" type="image/png" href="image/favicon.png" />

			<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

			{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}} 
    </head>

    <body>
		<header>

			{{#site-title}}
			<a href="{{href}}" class="{{class}}">
				<div class="img-wrapper">
					<img src="{{logo}}">
				</div>
				<h2>{{label}}</h2>
			</a>
			{{/site-title}}

			<ul>
			{{#navbar}}
				<li class="jsColor {{class}}">
					<a href="{{href}}">{{label}}</a>
			{{/navbar}}
			</ul>

			<div class="about">
				<div class="wrapper">
					{{{intro}}}
				</div>
			</div>

		</header>

		<div role="main" class="master">
			<h4 class="page-title">{{{page-title}}}</h4>
