{{> header }}
	<div class="wrapper" id="page-post">
		<div class="unit">
			<div class="bg-nav">
				<nav>
					<ul>
						{{#nav}}
						<li class="{{class}}"><a href="{{href}}">{{label}}</a></li>
						{{/nav}}
					</ul>
				</nav>
			</div>

			<div class="content">
				{{{demo}}}
				<div class="markdown">
					{{{doc}}}
				</div>
			</div>
		</div>
	</div>
{{> footer }}
