{{> header }}
	<div class="wrapper" id="page-post">
		<nav class="unit">
			<ul>
				{{#nav}}
				<li><a href="">{{label}}</a></li>
				{{/nav}}
			</ul>
		</nav>
		{{{demo}}}
		<div class="unit jsColor markdown">
		{{{doc}}}
		</div>
	</div>
{{> footer }}
