{{> header }}
	<div class="wrapper" id="page-post">
		<div class="unit">
			<nav>
				<ul>
					{{#nav}}
					<li><a href="{{href}}">{{label}}</a></li>
					{{/nav}}
				</ul>
			</nav>

			{{{demo}}}

			<div class="markdown">
				{{{doc}}}
			</div>
		</div>
	</div>
{{> footer }}
