<nav id="sidebar">

	<a href="/" class="title">
		<div class="img-wrapper">
			<img src="{{{logo}}}">
		</div>
		<h2>{{site-title}}</h2>
	</a>
	
	<ul class="">
	{{#navbar}}
		<li><a href="{{{href}}}">{{label}}</a>
	{{/navbar}}
	</ul>

	<footer>
		<p>{{{footer-right}}}</p>
		<p>{{{footer-power}}}</p>
	</footer>
</nav>