<nav id="sidebar" style="background: rgba(50,50,50,1);">

	{{#site-title}}
	<a href="{{href}}" class="{{class}}">
		<div class="img-wrapper">
			<img src="{{logo}}">
		</div>
		<h2>{{label}}</h2>
	</a>
	{{/site-title}}
	
	<ul>
	{{#navbar}}
		<li class="{{class}}"><a href="{{href}}"><span>{{label}}</span></a>
	{{/navbar}}
		<li class="js-lang en-us"><a href="?zh-cn"><span>中文</span></a>
		<li class="js-lang zh-cn"><a href="?en-us"><span>English</span></a>
	</ul>

	<footer>
	{{#footer-content}}
		<p class="{{{class}}}">{{{label}}}</p>
	{{/footer-content}}
	</footer>

</nav>