{{> header }}
	<div class="wrapper" id="page-about">
		<div class="unit jsColor">
			<div class="profile-author profile"></div>
			{{{about-me}}}
		</div>
		<div class="unit jsColor markdown">
			<div class="profile-site profile "></div>
			{{{about-site}}}
		</div>
	</div>
{{> footer }}
