{{> header }}
	<div class="wrapper">

		<section>
				<div class="profile {{profile-left}}"></div>
				<article class="en-us">
					{{{left-content}}}
				</article>
				<article class="zh-cn">
					{{{left-content-zh}}}
				</article>
		</section>

		<section>
				<div class="profile {{profile-right}}"></div>
				<article class="en-us">
					{{{right-content}}}
				</article>
				<article class="zh-cn">
					{{{right-content-zh}}}
				</article>
		</section>

	</div>
{{> footer }}
