{{> header }}
{{> nav }}
	
		<div role="main" class="main-content">
			{{> page-title}}

			<div class="content">
				<section>
					{{{about-site}}}	
				</section >
				<section>
					{{{about-author}}}
				</section>
			</div>

{{> footer }}
