{{> header }}
	<div class="wrapper" id="page-index">
		{{#section}}
		<section id="{{type}}">
			<div class="categories unit">
				<h2>{{type}}</h2>
				<ul>
					<li data-categories="all" class="jsColor jsCategories all"><a>all</a></li>
					{{#categories}}
					<li data-categories="{{label}}" class="jsColor jsCategories {{label}}"><a>{{label}}</a></li>
					{{/categories}}
				</ul>
			</div>

			{{#preview}}	
			<a href="/{{label}}" class="preview unit jsColor {{category}}" id="{{label}}">
				<aside></aside>
				<article>
					<h2>{{title}}</h2>
					<p>{{info}}</p>
					<div class="meta">
						<p>{{date}}</p>
						<p>{{tag}}</p>
					</div>
				</article>
			</a>		
			{{/preview}}
		</section>
		{{/section}}
	</div>
{{> footer }}
