{{> header }}
	<div class="wrapper">
	{{#preview}}	
	<a href="/{{label}}" class="preview" id="{{label}}">
		<article>
			<h2>{{title}}</h2>
			<p>{{info}}</p>
			<div class="meta">
				<p>{{date}}</p>
				<p>{{tag}}</p>
			</div>
		</article>
	</a>		
	{{/preview}}
	</div>
{{> footer }}
