{{> header }}
	<div class="wrapper" id="page-index">
		{{#section}}
		<section id="{{type}}">
			<ul class="categories unit">
				<li data-categories="all" class="jsColor jsCategories all"><a>all</a></li>
				{{#categories}}
				<li data-categories="{{label}}" class="jsColor jsCategories {{label}}"><a>{{label}}</a></li>
				{{/categories}}
			</ul>

			{{#preview}}	
			<a href="/{{title}}" class="preview unit jsColor {{category}}" id="{{title}}">
				<aside></aside>
				<article>
					<h1>{{title}}</h1>
					<p>{{info}}</p>
					<div class="meta">
						<p>{{date}}</p>
						<p>{{tag}}</p>
					</div>
				</article>
			</a>		
			{{/preview}}
		</section>
		{{/section}}
	</div>
{{> footer }}
