// Colors
$color-theme: #043f38;
$color-darkgray: rgb(60, 60, 60);
$color-gray: rgb(150, 150, 150);
$color-middlegray: rgb(220, 220, 200);
$color-lightgray: rgb(237, 237, 237);
$color-white: rgb(247, 247, 247);

// font-size
$font-l: 1.15rem;
$font-m: 0.9em;
$font-s: 0.77rem;
$font-xs: 0.65rem;

// font-family
$font-basic: Arial, "SimHei", sans-serif;
$font-theme: monospace, Arial, "SimHei", sans-serif;

// Dimenstion
$bp-desktop: 800px;
$bp-laptop: 770px;
$bp-mobile: 480px;

.text-underline {
  border-bottom: 1px solid $color-middlegray;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 3em;
  &:first-child {
    margin-top: 0;
  }
}
.text-2 {
  font-size: $font-m;
  font-weight: bold;
}
.text-normal-gray {
  font-size: $font-m;
  color: $color-darkgray;
  opacity: 0.8;
}

/**************************************************************************************/
@mixin transition($property: all, $duration: 0.5s, $timing: ease, $delay: 0s) {
  -webkit-transition: $property $duration $timing $delay;
  -moz-transition: $property $duration $timing $delay;
  -o-transition: $property $duration $timing $delay;
  transition: $property $duration $timing $delay;
}

@mixin transform-rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

/**************************************************************************************/
@-webkit-keyframes loading {
  0% { width: 0; }
  100% { width: 80%; }
}
@-moz-keyframes loading {
  0% { width: 0; }
  100% { width: 80%; }
}
@keyframes loading {
  0% { width: 0; }
  100% { width: 80%; }
}

/**************************************************************************************/
@-webkit-keyframes loaded {
  0% { z-index: 0; }
  100% { z-index: -1; }
}
@-moz-keyframes loaded {
  0% { z-index: 0; }
  100% { z-index: -1; }
}
@keyframes loaded {
  0% { z-index: 0; }
  100% { z-index: -1; }
}