body {
	margin: 0 auto;
	position: relative;
}

.master {
	margin: 0 auto;
	padding: 2em 0;
	background-color: $color-lightgray;
}

.wrapper {
	margin: 0 auto;
	max-width: 870px;
}

.wrapper:after {
	display: block;
	content: "";
	clear: both;
}


