body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul,
ol {
  list-style-position: inside;
}

li {
  line-height: 1.5;
}

a {
  text-decoration: none; 
  color: initial;
}

blockquote {
  border-left: 5px solid #ccc;
  margin-left: 0;
  padding-left: 1em;
  opacity: 0.5;
}

.App {
}

.App-markdown h2 {
  border-bottom: 1px solid #ccc;
  margin: 1.5em 0 0.9em;
}

.App-markdown pre {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.App-layout {
  padding: 10px 20px;
  max-width: 1024px;
  position: relative;
  left: 300px;
}

.App-text-2 {
  font-size: 1.25em;
  margin: 0.3em 0 0.72em;
}
.App-text-5 {
  font-size: 12px;
  opacity: 0.5;
}

.App-label {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  color: #333;
  font-weight: bold;
  font-size: 12px;
}
